<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <title>Get Tim Hired</title>
</head>
<body>
    <div class="container">

        <div th:insert="~{navbar}"></div>

        <div class="row">
            <div class="col-md-12">
                <h1>User Service</h1>
            </div>
            <div class="col-md-12">
                <p>Users service for com.gettimhired.user-service</p>
            </div>
        </div>
    </div>
</body>
</html>